@media screen and (max-width : 1030px) {
  .main-weather {
    height: 36rem;
    /* width: 40rem; */
  }
}

@media screen and (max-width: 430px) {
  .heading {
    margin: -10px 0px 40px;
  }

  /* 
  .search-box {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  } */

  .main-weather {
    display: flex;
    flex-wrap: wrap;
    height: 38rem;
    width: 22rem;
  }
}

@media screen and (max-height: 1200px) {
  body {
    min-height: 64rem;
  }
}

@media screen and (max-height: 1000px) {
  body {
    min-height: 57rem;
  }
}

@media screen and (max-height: 900px) {
  body {
    min-height: 50rem;
  }
}

@media screen and (max-height: 800px) {
  body {
    min-height: 45rem;
  }
}

@media screen and (max-height: 700px) {
  body {
    min-height: 43rem;
  }
}

@media screen and (max-height: 650px) {
  body {
    min-height: 40rem;
  }
}

@media screen and (max-width : 380px) {
  .search-box {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .search-box input {
    width: 15rem;
  }

  .main-weather {
    height: 36rem;
    width: 21rem;
  }
}

@media screen and (max-height: 570px) and (max-width: 320px) {
  body {
    min-height: 35rem;
  }

  .main-weather {
    height: 34rem;
    width: 19rem;
  }
}